.search-btn {
	background-color: #CE9C9A;
    border-color: white;
}

.search-btn:hover {
	background-color: black;
	border-color: white;
}
.dropdown-menu {
	background-color: black;
}
.dropdown-item {
	background-color: black;
}

